<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="gwtjUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings >
    <add key="xmlFilePath_upload"  value="E:\0SVN\公共卫生体检系统\3.0\程序\TJClient_2008\TJClient\gwtjUpload\xmlModel" />
  </appSettings>
  <applicationSettings>
    <gwtjUpload.Properties.Settings>
      <setting name="gwtjUpload_GwtjDoService_GwtjDoService" serializeAs="String">
        <value>http://localhost:3699/GwtjDoService.asmx</value>
      </setting>
    </gwtjUpload.Properties.Settings>
  </applicationSettings>
</configuration>