<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TJClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FBYClient.Properties.Settings.ggwstjxtConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.5;Data Source=F:\最新2018-04-26\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\Debug\db\gwtj.mdb" providerName="System.Data.OleDb"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <appSettings>
    <add key="versions" value="V2.3.1"/>
    <!-- DEBUG|INFO|Warn|Error|Fatal -->
    <add key="_LOG_LEVEL_" value="DEBUG"/>
    <!-- 日志文件路径+文件名（不含文件扩展名）（默认SimpleLogger） -->
    <add key="_LOG_FILE_" value="c:\Log\"/>
    <!-- 日志文件的最大长度（单位：字节）（不得小于 1024字节，即 1K）（默认1M = 1*1024*1024=1048576） 当日志文件超过该大小时会自动重建 -->
    <add key="_LOG_FILE_MAX_SIZE_" value="1048576"/>
    <!-- 日志文件是否按命名空间分开存储的配置节关键字: TRUE|FALSE （默认FALSE） -->
    <add key="_LOG_SPLIT_" value="TRUE"/>
    <!-- 异步写入日志标示，TRUE：新启线程采用日志队列方式异步写入，FALSE：直接写入日志文件（默认FALSE） -->
    <add key="_LOG_ASYN_" value="FALSE"/>
    <!-- 异步写入时，当日志队列为空的等待毫秒数（必须大于等于0，为0则没有等待时间(较耗资源)；可不配置，默认100毫秒）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_WAIT_" value="100"/>
    <!-- 异步写入线程是前台线程还是后台线程（对应Thread.IsBackground属性），TRUE后台线程，FALSE前台线程（默认FALSE）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_THREAD_BACKGROUND_" value="TRUE"/>
    <add key="sqlTimeOut" value="1000"/>
    <!--数据库地址  公卫体检离线客户端-->
    <add key="ACCESSConnection" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\Tok\Project\TJClientByTok\TJClient\bin\x86\db\ggwstjxt.mdb;Jet OLEDB:Database Password=;"/>
    <!--公卫系统数据下载接口地址   体检客户端从体检服务端下载上传数据时的接口服务地址-->
    <add key="GwtjUrl" value="http://localhost:5893/ClientDoService.asmx"/>
    <!--客户端上传心电图时，在健康体检表中心电图的保存地址-->
    <add key="xdtServerUrl" value="http://localhost:13652/ht4/"/>
    <!--客户端上传心电图，服务端心电图的保存地址-->
    <add key="XdtImgUpFile" value="H:\svn\程序\客户端\TJClient_NoOracle\bcimg\"/>
    <!-- 数据上传到健康档案系统的服务地址    未使用-->
    <!--
    <add key="ZLJY_GWTJ_Admin_GwtjDoService_GwtjDoService" value="http://localhost:25082/GwtjDoService.asmx"/>-->
    <!--是否启用无用户下载  0:否 1：是-->
    <add key="ifinitLogin" value="0"/>
    <!--身高差  单位 cm-->
    <add key="shengaocha" value="200"/>
    <!--条码左侧距离 mm-->
    <add key="tiaomaleft" value="20"/>
    <!--血压按照一侧自动要计算的一侧 0:不计算  1：左侧 2：右侧-->
    <add key="autoXy" value="2"/>
    <!--血压按照一侧自动计算另一侧的差值-->
    <!--舒张-->
    <add key="autoXy_D_SZ" value="-5"/>
    <!--收缩-->
    <add key="autoXy_D_SS" value="-2"/>
    <!--医疗机构编码-->
    <add key="YLJGBM" value="001"/>

    <!--体检客户端数据库类型  access  db2  oracle-->
    <add key="dbType" value="access"/>
    <!--数据上传的xml文件模版地址   客户端直接上传数据到健康档案系统用的xml模版     未使用-->
    <add key="xmlFilePath_upload" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle\TJClient\bin\x86\Debug\excelModel\xmlModel\"/>
    <!--文件地址  从公卫体检服务端下载的文件地址-->
    <add key="filePath" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\Debug\excelModel\excelFile\"/>
    <!--客户端的sql保存文件地址--><!--
    <add key="sqlfilePath" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\sql\UserSqlConfig.xml" />-->
    <!--打印条码隐藏身份证号第几位，0是无隐藏-->
    <add key="printhideset" value="3,4,5,6,11,12,13,14"/>
    <!--客户端lis仪器的配置文件地址-->
    <add key="HT2000" value="F:\公司其他业务\公卫体检\客户端新\TJClient\Dll\HT2000.xml"/>
    <add key="TM2655P" value="F:\公司其他业务\公卫体检\客户端新\TJClient\TM2655P.xml"/>
    <add key="URT200B" value="F:\公司其他业务\公卫体检\客户端新\TJClient\Dll\URT200B.xml"/>
    <add key="FCP7101" value="F:\公司其他业务\公卫体检\客户端新\TJClient\Dll\FCP7101.xml"/>
    <add key="US300" value="F:\公司其他业务\公卫体检\客户端新\US300\US300.xml"/>
    <add key="CBS" value="F:\公司其他业务\公卫体检\客户端新\CBS\CBS.xml"/>
    <add key="U500" value="E:\tools\TJClient_NoOracle_下载修改\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\U500.xml"/>
    <add key="BC" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\BC.xml"/>
    <add key="ECGNETV260" value="F:\最新2018-04-26\枣庄\dongying2018-04-27\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\ECGNETV260.xml"/>
    <add key="ECGNETSQLITE" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\ECGNETSQLITE.xml"/>
    <add key="ECGNETMS" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\ECGNETMS.xml"/>
    <add key="F03D" value="F:\公司其他业务\公卫体检\客户端新\F03D\F03D.xml"/>
    <add key="MECG200" value="H:\svn\全\程序\客户端\TJClient_NoOracle\MECG-200\MECG200.xml"/>
    <add key="EDANSE300" value="D:\工作\svn公卫体检\程序\客户端\TJClient_YQ\EDANSE300\EDANSE300.xml"/>
    <add key="EYETEST" value="D:\工作\svn公卫体检\程序\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\EYETEST.xml"/>
    <add key="IMAC120" value="F:\最新2018-04-26\枣庄\dongying2018-04-27\客户端\TJClient_NoOracle_下载修改\TJClient\bin\x86\Debug\Dal\IMAC120.xml"/>
    <add key="RBP9000" value="E:\tools\TJClient_NoOracle_下载修改\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\RBP9000.xml"/>
    <add key="CBSTZ" value="E:\tools\TJClient_NoOracle_下载修改\TJClient_NoOracle_下载修改\TJClient\bin\x86\dll\CBSTZ.xml"/>
    <!--系统默认值-->
    <!--省-->
    <add key="defaut_sheng" value="37"/>
    <!--市-->
    <add key="defaut_shi" value="3704"/>
    <!--县-->
    <add key="defaut_xian" value="370481"/>
    <!--街道-->    
    <add key="defaut_jiedao" value="370481105"/>
    <!--居委会-->
    <add key="defaut_juweihui" value=""/>
    <!--所属机构-->
    <add key="defaut_prgid" value=""/>
    <!--用户名-->
    <!--<add key="defaut_username" value="zsx1" />-->
    <add key="defaut_username" value="BX301"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--服务调用等待时间-->
    <add key="WaitTimeSec" value="900000"/>
    <!--是否签名，1为签名，0为不签-->
    <add key="SignnameOperation" value="1"/>
    <!--签字板的key-->
    <add key="TabletKey" value="AgAZAPZTkH0EBVdhY29tClNESyBTYW1wbGUBAoECA2UA"/>
    <!--签字板类型 1为webcam,2为汉王esp560-->
    <add key="TabletType" value="1"/>
    <!--sqlserver数据库（麦迪克斯）-->
    <add key="MedExConnection" value="Data Source=192.168.5.116;Initial Catalog=medexmemrs;Integrated Security=false;uid=sa;pwd=MedExSQLServerAdmin"/>

    <!--条码类型   新类型:Code128C   原先模式:"" -->
    <add key="barcodeType" value="Code128C"/>

    <!--lis的厂家,送检的有两个厂家，一个是千麦，输入qianmai,另一个是金域 输入jinyu,如果需要要对应，输入0-->
    <add key="LisFactory" value="0"/>
  </appSettings>
  <applicationSettings>
    <TJClient.Properties.Settings>
      <setting name="TJClient_GWXT_HealthAssistantServiceImplService" serializeAs="String">
        <value>http://221.1.64.214:9090/GWTJ/webservice/healthAssistant</value>
      </setting>
      <setting name="TJClient_GwtjDoService_GwtjDoService" serializeAs="String">
        <value>http://localhost:3699/GwtjDoService.asmx</value>
      </setting>
      <setting name="TJClient_JKTJ_ClientDoService" serializeAs="String">
        <value>http://localhost:13652/ClientDoService.asmx</value>
      </setting>
    </TJClient.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
